{% extends "base.html" %}
{% block title %}Anagrafica Cittadini{% endblock %}

{% block content %}
<div class="container-fluid px-0 py-4">

  <div class="row">


    <!-- CONTENUTO principale -->
    <section class="col-12">

      <div class="bg-white p-4 rounded shadow">
        <h4 class="mb-4 text-danger fw-bold">Anagrafica dei Cittadini</h4>
        <div class="table-responsive">
  <table class="table table-striped table-hover table-bordered w-100 text-center align-middle">
    <thead class="table-light">
      <tr>
        <th>CSSN</th>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Data di Nascita</th>
        <th>Luogo di Nascita</th>
        <th>Indirizzo</th>
        <th>Stato</th>
      </tr>
    </thead>
    <tbody>
      {% for cittadino in cittadini %}
      <tr>
        <td>{{ cittadino.CSSN }}</td>
        <td>{{ cittadino.nome }}</td>
        <td>{{ cittadino.cognome }}</td>
        <td>{{ cittadino.data_nascita|date:"d/m/Y" }}</td>
        <td>{{ cittadino.città }}</td>
        <td>{{ cittadino.via }}</td>
        <td class="stato {% if cittadino.stato == 'Ricoverato' %}text-dark{% elif cittadino.stato == 'Deceduto' %}text-danger{% else %}text-muted{% endif %}">
  {{ cittadino.stato }}
</td>


      </tr>
      {% empty %}
      <tr>
        <td colspan="7" class="text-center text-muted">Nessun cittadino trovato.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include 'partials/paginazione.html' %}

</div>

      </div>
    </section>
  </div>
</div>

{% endblock %}
