{% extends "base.html" %}
{% load custom_filters %}
{% block title %}Anagrafica Cittadini{% endblock %}

{% block content %}
<div class="container-fluid px-0 py-4">

  <div class="row">


    <!-- CONTENUTO principale -->
    <section class="col-12">

      <div class="bg-white p-4 rounded shadow">
        <h4 class="mb-4 text-danger fw-bold">Anagrafica dei Cittadini</h4>
        <div class="table-responsive">
          <table class="table table-bordered table-hover text-center text-nowrap"
            style="table-layout: fixed; width: 100%;">
            <thead class="table-light">
              <tr>
                {% for col, label in columns %}
                <th style="width: {{ colonne_larghezze|get_item:col }}">
                  <a href="?sort={{ col }}&order={% if current_sort == col and current_order == 'asc' %}desc{% else %}asc{% endif %}"
                    class="text-decoration-none text-dark">
                    {{ label }}
                    {% if current_sort == col %}
                    <i class="bi bi-caret-{% if current_order == 'asc' %}up{% else %}down{% endif %}-fill"></i>
                    {% endif %}
                  </a>
                </th>
                {% endfor %}
                <th style="width: {{ colonne_larghezze|get_item:'ricoveri' }}">Ricoveri</th>
              </tr>
            </thead>


            <tbody>
              {% for cittadino in cittadini %}
              <tr class="clickable-row" data-href="{% url 'ricoveri' %}?cssn={{ cittadino.CSSN }}">
                <td style="width: {{ colonne_larghezze|get_item:'CSSN' }}">{{ cittadino.CSSN }}</td>
                <td
                  style="width: {{ colonne_larghezze|get_item:'nome_cognome' }}; word-break: break-word; white-space: normal;">
                  {{ cittadino.nome }} {{ cittadino.cognome }}
                </td>
                <td style="width: {{ colonne_larghezze|get_item:'data_nascita' }}">
                  {{cittadino.data_nascita|date:"d/m/Y" }}</td>
                <td
                  style="width: {{ colonne_larghezze|get_item:'città' }}; word-break: break-word; white-space: normal;">
                  {{ cittadino.città }}
                </td>
                <td style="width: {{ colonne_larghezze|get_item:'via' }}; word-break: break-word; white-space: normal;"
                  data-bs-toggle="tooltip" data-bs-placement="top" title="{{ cittadino.via }}">
                  {{ cittadino.via }}
                </td>
                <td style="width: {{ colonne_larghezze|get_item:'stato' }}"
                  class="stato {% if cittadino.stato == 'Ricoverato' %}text-dark{% elif cittadino.stato == 'Deceduto' %}text-danger{% else %}text-muted{% endif %}">
                  {{ cittadino.stato }}
                </td>
                <td style="width: {{ colonne_larghezze|get_item:'ricoveri' }}; text-align: right;">{{ cittadino.numero_ricoveri }}</td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="7" class="text-center text-muted">Nessun cittadino trovato.</td>
              </tr>
              {% endfor %}
            </tbody>

          </table>
          {% include 'partials/paginazione.html' %}

        </div>

      </div>
    </section>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll('.clickable-row').forEach(row => {
      row.addEventListener('click', function () {
        window.location.href = row.dataset.href;
      });
    });
  });
</script>


{% endblock %}